@model IEnumerable<WebStore.ViewModels.CarViewModel>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                <b>Подробнее</b>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.ActionLink("Детали", "CarDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("На главную", "Index", "Home")