@model IEnumerable<WebStore.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SureName)
            </th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SureName)
            </td>
            <td> 
                @Html.ActionLink("Детали", "EmployeeDetails", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
    
@Html.ActionLink("На главную","Index")
